<h1> <%= @guest.name %> </h1>
<hr>

<h3> Occupation: <%= @guest.occupation %></h3>

<h3> Episodes </h3>
    <ul>
   <% @guest.rating_sort.reverse.each do |appearance| %> 
        <li><b> Epsiode Date: </b><%= link_to appearance.episode.date, episode_path(appearance.episode) %></li>
        <li><b> Rating: </b><%= appearance.rating %></li>
        <br>
   <% end %>
   </ul>
<br>

<%= button_to "Add Appearance", new_appearance_path, method: :get %>