<h1>Guest Info</h1>
<p>Guest Name: <%=@guest.name%></p>
<ul>
    <%@guest.episodes.each do |e|%>
    <li>Episode number: <%=e.number%> - Date: <%= link_to  e.date, episode_path(e) %> <br>
        Ratings: <%e.appearances.select do |a|%>
            <%a.guest == @guest%>
            <%end.each do |e|%>
            <%= e.rating%>/5<br>
            <%end%>
    </li>
    <%end%>
</ul>
<%= button_to  "Go back", guests_path, method: :get %>