<h1>Episode <%= @episode.number %></h1>
<h3><u>Date:</u> <%= @episode.date %></h3>
<h3><u>Average Rating:</u> <%= @episode.average_rating %></h3>
<hr>
<h2><u>Guests:</u></h2>
    <ol>
        <% @episode.guests.each do |guest| %>
        <li><p><%= link_to guest.name, guest_path(guest) %></p></li>
        <% end %>
    </ol>
<br>
<br>
<%= link_to "Index", episodes_path %>
<br>
<br>
<%= link_to "Add Guest Appearance", new_appearance_path %>
